/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* 400 regular 15px - 0.9375rem, 16px - 1rem & 700 bold 57px-3.56rem */
/* font-family: 'Roboto', sans-serif; */
/* 400 regular 12px - 0.75rem, 14px - 0.875rem, 16px - 1rem, 18px - 1.125rem , 25px - 1.56rem, 32px - 2rem (footer icons)
900 black 20px - 1.25rem, 40px - 2.5rem
400 Bold 22px - 1.375rem , 50px - 3.125rem
font-family: URW DIN Arabic Bold;
40px - 2.5rem


*/
@font-face {
    font-family: URW DIN Arabic Bold;
    src: url(./fonts/FontsFree-Net-URW-DIN-Arabic-Bold-1.ttf);
 }
 

/*
=============== 
Variables
===============
*/

:root {
  /* primary colors*/
  --clr-yellow: #ffbb00;
  --clr-grey: #8a8a8a;
  --clr-black: #333333;
  --clr-blue: #1487fd;
  --clr-white: #fff;

 /* primary fonts*/
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;

  /* Different font-sizes */
  --ff-menu-linksize-18px-1\.125rem: 1.125;
  --ff-menu-linkweight-medium:medium;

  /*misc variables*/
  --ff-size: 1rem;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey);
  line-height: 1.5;
  font-size: var(--ff-size)
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Logo to large - 100% of its container. This will override. */
img:not(.nav-logo) {
  width: 100%;
  display: block;
}



/*
=============== 
Global Classes
===============
*/

 .btn {
  background: var(--clr-blue);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-grey);
}
/*  
.section {
  padding: 5rem 0;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--clr-primary-5);
}*/
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
} 


/* 
###################################################
  -  M A I N   C O D E  -
###################################################
*/

/*
=============== 
HEADER
===============
*/

/* Top-section */
.top-section {
    position: relative;
    height: 58rem;
    /* height: 115vh; */
    width: 100%;
    margin: 0 auto;
    overflow: hidden;

}
.top-section .blue-rectangle {
   display: flex;
   position: absolute;
   top: -16rem;
   left: -4rem;
   /* top: -16%;
   left: -8%; */
   /* Height procent + width auto = responsive image */
   width:115%;
   /* height: auto;  */
   /* max-width: 115%;  */
} 
.top-section .overlay-rectangle {
   display: flex;
   position: absolute;
   top: -16rem;
   left: -4rem;
   /* top: 0rem; */
   /* top: -16%;
   left: -8%; */
   /* Height procent + width auto = responsive image */
   /* width: 100%; */
   width: 115%;
    /* height: auto; */
   z-index: 3;
   /* max-width: 115%;  */
} 
/* Nav-bar */
.nav-bar {
    /* Ev sätta fixed */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 4;
  }

  /*Nav-center  */
.nav-center {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    /* background: var(--clr-blue); */
} 
/* Nav-header */
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    /* padding: 0; */
  
}

/* Hamburger toggler button */
.nav-toggle {
    background: transparent;
    border: transparent;
    outline: none;
    font-size: 2rem;
    color: var(--clr-white);
    cursor: pointer;
    transition: var(--transition);
}  
.nav-toggle:hover {
    transform: scale(1.2);
}

/* Nav-link */
.nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    color: var(--clr-black);
    /* font: 1rem; */
    font-size: --f;
    cursor: pointer;
    /* font-weight: bold; */
  }
  .nav-link:hover {
    color: var(--clr-white);
    background: var(--clr-grey);
    padding-left: 2.25rem;
    font-weight: bold;
  }
  
  /* Nav-links */
  .nav-links {
    /* real height 280px. Can use in js to show menu when toggling */
    height: 0;
    /* removes overflow even if height is zero */
    overflow: hidden;
    background: var(--clr-white);

  }
  /* Show menu  - from default 0px to needed 280px*/
  .show-links {
    height: 280px;
    }

    /* Hide menu button (show at 992px) */
    .btn-getapp {
      display: none;
    }
  
    /*
=============== 
SHOWCASE
===============
*/
  .section-center {
    margin-top: 0.7rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(20,135,253,0.9));
    padding: 0 1.5rem 1.5rem 1.5rem;
    width: 100%;
  }
  .section-center h1 {
   font-family: var(--ff-secondary);
   /* font-size: 3.56rem; */
   font-size: 2.5rem;
   text-align:center;
   /* color: var(--clr-white); */
   color: var(--clr-yellow);
   font-weight: bold;
   text-transform: capitalize;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .section-center p {
   font-family: var(--ff-secondary);
   font-size: 0.9rem;
   /* font-size: 0.9375rem; */
   text-align: center;
   color: var(--clr-grey);
   /* text-transform: capitalize; */
   padding: 1rem 1rem;
  }

.download-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  
}
.download-media img {
  width: 9.69rem;
}
.btn-download {
  border: 1px solid white;
  border-radius: 0.7rem;
  background: var(--clr-yellow);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  padding: 0.9rem 1rem;
  transition: var(--transition);
  text-transform: capitalize;
  margin-right: 1rem;
  outline: none;
  color: var(--clr-white);

}
.download-media svg #Watch_Video-2{
 fill:var(--clr-yellow);
}
    
.download-media .svg:hover > svg #Watch_Video-2{
  fill: var(--clr-grey);
  transition: var(--transition);
}
    


/*
=============== 
EC LOGOS
===============
*/
.ec-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* height: 40rem; */
  /* height: 10vh; */
  /* width: 100vw; */
  margin: 3rem auto ;
  /* margin-top: 5rem; */
  max-width: 1170px;
  padding: 3rem;
}

.ec-logos img{
  /* flex: 100%; */
  /* width: 11.44rem; */
  width:15rem;
  padding-bottom: 5rem;
  transition: var(--transition);
 
} 
.ec-logos img:hover{
  /* flex: 100%; */
  /* width: 11.44rem; */
  width:15rem;
  padding-bottom: 5rem;
 transform: scale(1.1);
} 

/*
======================== 
ABOUT US
========================
*/

.aboutUs {
  margin: 0 auto;
  max-width: 1350px;
  display: block;
  padding: 2rem;

}
.aboutUs-img {
  display: flex;
  justify-content: center;
  flex: 0 0 calc(47% - 4rem);
  background-image: url(../images/bg-about.png);

}
.aboutUs-img img{
  max-width: 17.75rem;
  height: auto;
  display: none;

}
.aboutUs-info {
  flex: 0 0 calc(50% - 6rem);
}
.aboutUs-info h1{
  font-family: var(--ff-primary);
  font-size: 2.5rem;
  font-weight: 900;
  /* letter-spacing: 0.8rem;*/
  line-height: 3.3125rem; 
  color: var(--clr-black);
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  padding: 0 auto;
}

.aboutUs-info p{
  line-height: 1.875rem; 
}
.btn-about {
  position: relative;
  background: transparent;
  color: var(--clr-yellow);
  font-size: 0.875rem;
  font-family: var(--ff-primary);
  font-weight: normal;
  text-transform: capitalize;
  letter-spacing: 0rem;
  border-radius: var(--radius);
  outline: none; 
  border: none;
  padding: 1rem 4rem;
  display: block;
  margin: 0 auto;
}
.btn-overlay {
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-yellow);
  opacity: 0.3;
  outline: none;
  border-radius: var(--radius);
}
.info-download {
  display: block;
}
.info-download img{
  max-width: 14.5rem;
  height: auto;
  margin: auto;
  padding: 2rem 0;
  transition: var(--transition);
}
.info-download img:hover{
  max-width: 14.5rem;
  height: auto;
  margin: auto;
  padding: 2rem 0;
  transform: scale(1.1);
}
/*
======================== 
FEATURES
========================
*/
.features {
  margin: 0 auto;
  /* max-width: 1350px; */
  max-width: 1170px;
  display: block;
  padding: 2rem;
}
.features-info {
  flex: 00 50%;
}
.features-info h1{
  color: var(--clr-black);
  font-size: 2.5rem;
  font-weight: 900;
  padding: 0 auto;
  text-align: center;
  margin-top: 2rem;
}
.features-info p{
  padding: 0 auto;
  line-height: 1.875rem;
  }
.features-img {
  display: none;
  width: 100%;
  height: auto;
}
.features-img img {
  max-width: 50%;
  height: auto;
}
.container {
  display: block;
  justify-content: flex-start;
  width: 100%;
  margin-top: 2rem;
  flex-wrap: wrap;
} 
.infobox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex:0 0 50%;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
.infobox-text {
flex: 6;

}
.infobox-img {
  flex: 1;
  padding-right: 1rem;
  align-self: flex-start;
  padding-top: 0.7rem;
}

.infobox-text h1 {
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--clr-black);
  padding: 0;
}
.infobox-text p {
  padding: 0.3rem 0 2rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0rem;
  text-align: center;

}
    
/*
=========================================================== 
>>>> Mediaqueries <<<<
===========================================================
*/
@media (max-width:459px) {
  .nav-center {
    background: var(--clr-blue);
} 
.top-section .blue-rectangle {
  display: none;
 
} 

}
@media (min-width:460px){

    .nav-center {
        background: transparent;
    }
    .section-center p {
      color: var(--clr-black);
     }
     .ec-logos {
      display: flex;
      justify-content: center;
      padding: 2rem 0;
    }
    .top-section .blue-rectangle {
        top: -15rem;
        left: -4rem;
     } 
     .top-section .overlay-rectangle {
        top: -15rem;
        left: -4rem;
     } 
     .top-section {
        max-width: 576px;
      }
    
    
}
@media (min-width: 576px) {

    .ec-logos {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
    }
    .section-center p {
      padding: 1rem 5rem;
     }
     .top-section .blue-rectangle {
        top: -17rem;
        left: -4rem;
     } 
     .top-section .overlay-rectangle {
        top: -17rem;
        left: -4rem;
     } 
     .top-section {
        max-width: 690px;
      }
      .aboutUs-img img{
        max-width: 17.75rem;
        height: auto;
        display: flex;
      }
      .container {
        display: flex;
      } 
      .infobox {
        padding-bottom: 0rem;
      }
  .infobox-text p {
    text-align: left;
  }
}


@media (min-width: 768px) {

    .ec-logos img{
      /* flex: 100%; */
      /* width: 11.44rem; */
      width:11rem;
      padding-bottom: 5rem;
    } 
    .ec-logos {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
    }
    .top-section .blue-rectangle {
        top: -20rem;
        left: -4rem;
     } 
     .top-section .overlay-rectangle {
        top: -20rem;
        left: -4rem;
     } 
     .top-section {
        max-width: 900px;
      }
      .aboutUs-info h1{
        text-align: left;
        margin-top: 0;
        padding-right: 6rem;
      }
      .btn-about {
        position: relative;
        background: transparent;
        color: var(--clr-yellow);
        font-size: 0.875rem;
        font-family: var(--ff-primary);
        text-transform: capitalize;
        border-radius: var(--radius);
        outline: none; 
        border: none;
        padding: 0.375rem 0.75rem;
        display: flex;
        margin: 0;
      }
      .features-img {
        display: flex;
        flex: 00 50%;
        }
        .features-info h1 {
          text-align: left;
          padding-top: 0rem;
          padding-right: 6rem;
          margin-top: 0rem;
        }
        .features {
          margin: 8rem auto 0 auto;
        }
        .features-info p{
          padding-right: 3rem;
          }

}


@media (min-width: 992px) {

      /* Hide toggle */
    .nav-toggle {
      display: none;
    }

    .nav-links {
        height: auto;
        display: flex;
        align-items: center;
      }

    .nav-center {
        display: flex;
      justify-content: space-between;
      align-items: center;
    /*  ifall att det behövs*/
        flex-wrap: wrap;
    }
    /* No padding on logo */
    .nav-header {
        padding: 0 0;
      }
      /* Show menu-button */
      .btn-getapp {
        display: inline-block;
        background: var(--clr-yellow);
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        padding: 0.7rem 2rem;
        transition: var(--transition);
        outline: none;
      }
      .btn-getapp:hover {
        background: var(--clr-grey);
        color: var(--clr-white);

      }
      /* remove white background */
      .nav-links {
        background: transparent;
      }
      /* white menu links */
      .nav-link {
        padding: 0 0;
        margin-right: 1.5rem;
        letter-spacing: 0.15rem;
        color: var(--clr-white);
        font-size: 1.125rem;
        font-weight: 500;
      }
      .nav-link:hover {
        color: var(--clr-yellow);
        background: none;
        font-weight: 600;
        padding-left: 0;
      }

        a:hover > .uline{
          /* text-decoration:underline; */
          border-bottom: 3px solid var(--clr-yellow);
          padding-bottom: 4px;
        }
        .nav-bar {
          padding: 1rem 2rem;
        }
        .section-center {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .showcase-img, .showcase-info {
          flex: 0 0 calc(50% - 0rem);
        }
        .showcase-info {
          padding-left:8rem;
          margin-bottom: 5rem;
        }
        .download-media {
          justify-content: flex-start;
        }

        .section-center {
          margin-top: 0.7rem;
          background-image: none;
          padding: 0 0rem 1.5rem 0rem;
        }
        .section-center h1 {
         font-family: var(--ff-secondary);
         font-size: 1.7rem;
         /* font-size: calc(100vw / 57); */
         text-align: left;
         color: var(--clr-white);
         font-weight: bold;
         text-transform: capitalize;
         text-shadow:none;
        }
        .section-center p {
         font-family: var(--ff-secondary);
         font-size: 0.9375rem;
         text-align: left;
         color: var(--clr-white);
         /* text-transform: capitalize; */
         /* padding: 1rem 5rem; */
         padding: 2rem 2rem 2rem 0;
        }
        .btn-download {
          border: 1px solid white;
          border-radius: 0.7rem;
          background: transparent;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: 0.02rem;
          padding: 0.9rem 1rem;
          transition: var(--transition);
          text-transform: capitalize;
          margin-right: 1rem;
          outline: none;
          color: var(--clr-white);
        
        }
        .download-media svg #Watch_Video-2{
          fill:var(--clr-white);
         }
         .ec-logos img{
          /* flex: 25%; */
          width: 11.44rem;
          /* width:20rem; */
          padding-bottom: 5rem;
         
        } 
        .ec-logos {
          display: flex;
          justify-content: space-between;
          padding: 2rem 0;

        }
        .top-section .blue-rectangle {
            top: -24rem;
            left: -4rem;
         } 
         .top-section .overlay-rectangle {
            top: -24rem;
            left: -4rem;
         } 
         .top-section {
            max-width: 1150px;
          }
        
          .aboutUs {
            margin: 0 auto;
            max-width: 1350px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0;
          }
          .features {
            display: flex;
          }
          .features-img img {
            max-width: 100%;
          }

    }
       


@media (min-width: 1200px) {

   .nav-link {
    margin-right: 2.5rem;
  }
  /* .section-center h1 {
    font-size: 2.5rem;
   } */
   .section-center p {
    padding: 1rem 2rem 2rem 0;
   }
   .top-section .blue-rectangle {
    top: -27rem;
    left: -4rem;
 } 
 .top-section .overlay-rectangle {
    top: -27rem;
    left: -4rem;
 } 
 .top-section {
    max-width: 1350px;
  }
  .showcase-info {
    padding-left:6rem;
    margin-bottom: 5rem;
  }
  .info-download {
    display: flex;
    justify-content: flex-start;
  }
  .info-download img{
    margin: 0;
  }
  
  .features {
    padding: 0;
  }
}




@media (min-width: 1300px) {
 
}





@media (min-width: 1400px) {

 .section-center h1 {
  font-size: 2.5rem;
 }
 .section-center p {

    padding: 2rem 8rem 2rem 0;
   }
 .showcase-info {
    padding-left:3rem;
    margin-bottom: 0;
  }
.ec-logos img{
  /* flex: 25%; */

  width: 11.44rem !important;
  /* width: 6rem; */
  /* padding: 1rem 1rem; */ 
 
} 
.top-section .blue-rectangle {
    top: -30rem;
    left: -4rem;
 } 
 .top-section .overlay-rectangle {
    top: -30rem;
    left: -4rem;
 } 
 .top-section {
    max-width: 1500px;
  }


}

@media (min-width: 1600px) {
    .section-center h1 {
        font-size: 3.56rem;
       }
       .showcase-info {
        padding-left:0;
      }
    .top-section .blue-rectangle {
        top: -40rem;
        left: -4rem;
     } 
     .top-section .overlay-rectangle {
        top: -40rem;
        left: -4rem;
     } 
     .top-section {
        max-width: 1750px;
      }

}

@media (min-width: 1920px) {
  .top-section {
    max-width: 1920px;
    /* overflow:visible; */
  }
  .top-section .blue-rectangle {

    top: -56rem;
    left: -4rem;

 } 
 .top-section .overlay-rectangle {

    top: -56rem;
    left: -4rem;

 } 



}
  






/*
=============== 
Footer
===============
*/

/* footer {
  background: var(--clr-blue);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-overlay{
    width: 100%;
    opacity: 5%;
    background-image: url("../images/footer-overlay.png");
    background-size: cover;
}
.footer-logo {
    height: 4rem;
    z-index: 3;
} */

/*
=============== 
MEDIAQUERIES
===============
*/
@media (min-width: 576px) {

}



@media (min-width:768px) {

}


@media (min-width: 992px) {


}

@media (min-width: 1170px) {


}

