/*
=============== 
Fonts
===============
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* 400 regular 15px - 0.9375rem, 16px - 1rem & 700 bold 57px-3.56rem */
/* font-family: 'Roboto', sans-serif; */
/* 400 regular 12px - 0.75rem, 14px - 0.875rem, 16px - 1rem, 18px - 1.125rem , 25px - 1.56rem, 32px - 2rem (footer icons)
900 black 20px - 1.25rem, 40px - 2.5rem
400 Bold 22px - 1.375rem , 50px - 3.125rem
font-family: URW DIN Arabic Bold;
40px - 2.5rem


*/
@font-face {
    font-family: URW DIN Arabic Bold;
    src: url(./fonts/FontsFree-Net-URW-DIN-Arabic-Bold-1.ttf);
 }
 

/*
=============== 
Variables
===============
*/

:root {
  /* primary colors*/
  --clr-yellow: #ffbb00;
  --clr-grey: #8a8a8a;
  --clr-black: #333333;
  --clr-blue: #1487fd;
  --clr-white: #fff;

 /* primary fonts*/
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;

  /* Different font-sizes */
  --ff-menu-linksize-18px-1\.125rem: 1.125;
  --ff-menu-linkweight-medium:medium;

  /*misc variables*/
  --ff-size: 1rem;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey);
  line-height: 1.5;
  font-size: var(--ff-size)
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* Logo to large - 100% of its container. This will override. */
img:not(.nav-logo) {
  width: 100%;
  display: block;
}



/*
=============== 
Global Classes
===============
*/

 .btn {
  background: var(--clr-blue);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  border-radius: var(--radius);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-grey);
}
/*  
.section {
  padding: 5rem 0;
}
.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title span {
  color: var(--clr-primary-5);
}*/
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
} 


/* 
###################################################
  -  M A I N   C O D E  -
###################################################
*/

/*
=============== 
HEADER
===============
*/

/* Top-section */
.top-section {
    position: relative;
    height: 58rem;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.top-section .blue-rectangle {
   display: flex;
   position: absolute;
   /* top: -16rem;
   left: -4rem; */
   top: -16%;
   left: -8%;
   /* Height procent + width auto = responsive image */
   width:115%;
   height: auto;  
} 
.top-section .overlay-rectangle {
   display: flex;
   position: absolute;
   top: 0rem;
   /* Height procent + width auto = responsive image */
   width: 100%;
    height: auto;
   z-index: 3;
} 
/* Nav-bar */
.nav-bar {
    /* Ev sätta fixed */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: transparent;
    z-index: 4;
  }

  /*Nav-center  */
.nav-center {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    /* background: var(--clr-blue); */
} 
/* Nav-header */
.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    /* padding: 0; */
  
}

/* Hamburger toggler button */
.nav-toggle {
    background: transparent;
    border: transparent;
    outline: none;
    font-size: 2rem;
    color: var(--clr-white);
    cursor: pointer;
    transition: var(--transition);
}  
.nav-toggle:hover {
    transform: scale(1.2);
}

/* Nav-link */
.nav-link {
    display: block;
    padding: 1rem 2rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    color: var(--clr-black);
    /* font: 1rem; */
    font-size: --f;
    cursor: pointer;
    /* font-weight: bold; */
  }
  .nav-link:hover {
    color: var(--clr-white);
    background: var(--clr-grey);
    padding-left: 2.25rem;
    font-weight: bold;
  }
  
  /* Nav-links */
  .nav-links {
    /* real height 280px. Can use in js to show menu when toggling */
    height: 0;
    /* removes overflow even if height is zero */
    overflow: hidden;
    background: var(--clr-white);

  }
  /* Show menu  - from default 0px to needed 280px*/
  .show-links {
    height: 280px;
    }

    /* Hide menu button (show at 992px) */
    .btn-getapp {
      display: none;
    }
  
    /*
=============== 
SHOWCASE
===============
*/
  .section-center {
    margin-top: 0.7rem;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(20,135,253,0.9));
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
  .section-center h1 {
   font-family: var(--ff-secondary);
   /* font-size: 3.56rem; */
   font-size: 2.5rem;
   text-align:center;
   /* color: var(--clr-white); */
   color: var(--clr-yellow);
   font-weight: bold;
   text-transform: capitalize;
   text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  .section-center p {
   font-family: var(--ff-secondary);
   font-size: 0.9rem;
   /* font-size: 0.9375rem; */
   text-align: center;
   color: var(--clr-grey);
   /* text-transform: capitalize; */
   padding: 1rem 5rem;
  }

.download-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  
}
.download-media img {
  width: 9.69rem;
}
.btn-download {
  border: 1px solid white;
  border-radius: 0.7rem;
  background: var(--clr-yellow);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
  padding: 0.9rem 1rem;
  transition: var(--transition);
  text-transform: capitalize;
  margin-right: 1rem;
  outline: none;
  color: var(--clr-white);

}
.download-media svg #Watch_Video-2{
 fill:var(--clr-yellow);
}
    

.download-media:hover > svg #Watch_Video-2{
 fill: var(--clr-grey);
 transition: var(--transition);
}

    
/*
======================== 
Top section Mediaqueries
========================
*/
@media (max-width:300px) {
  .nav-center {
    background: var(--clr-blue);
} 
.top-section .blue-rectangle {
  display: none;
 
} 
}
@media (min-width:460px){
    .top-section .blue-rectangle, .top-section .overlay-rectangle {
        display: flex;
        position: absolute;
        /* top: -16rem;
        left: -4rem; */
        top: -22%;
        left: -8%;
        /* Height procent + width auto = responsive image */
        width:115%;
        height: auto;  
    } 
    .nav-center {
        background: transparent;
    }
    .section-center p {
      color: var(--clr-black);
     }

    
}
@media (min-width: 576px) {
    .top-section .blue-rectangle, .top-section .overlay-rectangle {
        position: absolute;
        /* top: -18rem;
        left: -9rem; */
        top: -32%;
        left: -8%;
        /* Height procent + width auto = responsive image */
        width:115%;
        height: auto;  
    } 

}


@media (min-width: 768px) {
     .top-section .blue-rectangle, .top-section .overlay-rectangle {
        position: absolute;
        /* top: -28rem;
        left: -9rem; */
        top: -48%;
        left: -8%;
        /* Height procent + width auto = responsive image */
        width:115%;
        height: auto;  
    } 
}
@media (min-width: 992px) {
    .top-section .blue-rectangle, .top-section .overlay-rectangle {
       position: absolute;
       /* top: -38rem;
       left: -9rem; */
       top: -35%;
       left: -8%;
       /* Height procent + width auto = responsive image */
       width:115%;
       height: auto;  
   } 
      /* Hide toggle */
    .nav-toggle {
      display: none;
    }

    .nav-links {
        height: auto;
        display: flex;
        align-items: center;
      }

    .nav-center {
        display: flex;
      justify-content: space-between;
      align-items: center;
    /*  ifall att det behövs*/
        flex-wrap: wrap;
    }
    /* No padding on logo */
    .nav-header {
        padding: 0 0;
      }
      /* Show menu-button */
      .btn-getapp {
        display: inline-block;
        background: var(--clr-yellow);
        font-size: 1rem;
        font-weight: 500;
        letter-spacing: 0.02rem;
        padding: 0.7rem 2rem;
        transition: var(--transition);
        outline: none;
      }
      .btn-getapp:hover {
        background: var(--clr-grey);
        color: var(--clr-white);

      }
      /* remove white background */
      .nav-links {
        background: transparent;
      }
      /* white menu links */
      .nav-link {
        padding: 0 0;
        margin-right: 1.5rem;
        letter-spacing: 0.15rem;
        color: var(--clr-white);
        font-size: 1.125rem;
        font-weight: 500;
      }
      .nav-link:hover {
        color: var(--clr-yellow);
        background: none;
        font-weight: 600;
        padding-left: 0;
      }

        a:hover > .uline{
          /* text-decoration:underline; */
          border-bottom: 3px solid var(--clr-yellow);
          padding-bottom: 4px;
        }
        .nav-bar {
          padding: 1rem 2rem;
        }
        .section-center {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .showcase-img, .showcase-info {
          flex: 0 0 calc(50% - 0rem);
        }
        .showcase-info {
          padding-left:3rem;
        }
        .download-media {
          justify-content: flex-start;
        }

        .section-center {
          margin-top: 0.7rem;
          background-image: none;
          padding: 0 0rem 1.5rem 0rem;
        }
        .section-center h1 {
         font-family: var(--ff-secondary);
         font-size: 1.7rem;
         /* font-size: calc(100vw / 57); */
         text-align: left;
         color: var(--clr-white);
         font-weight: bold;
         text-transform: capitalize;
         text-shadow:none;
        }
        .section-center p {
         font-family: var(--ff-secondary);
         font-size: 0.9375rem;
         text-align: left;
         color: var(--clr-white);
         /* text-transform: capitalize; */
         /* padding: 1rem 5rem; */
         padding: 2rem 8rem 2rem 0;
        }
        .btn-download {
          border: 1px solid white;
          border-radius: 0.7rem;
          background: transparent;
          font-size: 1rem;
          font-weight: 500;
          letter-spacing: 0.02rem;
          padding: 0.9rem 1rem;
          transition: var(--transition);
          text-transform: capitalize;
          margin-right: 1rem;
          outline: none;
          color: var(--clr-white);
        
        }
        .download-media svg #Watch_Video-2{
          fill:var(--clr-white);
         }

    }
       


@media (min-width: 1200px) {
    .top-section .blue-rectangle, .top-section .overlay-rectangle {
       position: absolute;
       /* top: -48rem; */
       top: -38%;
       /* bottom: 4rem; */
       /* left: -9rem; */
       left: -8%;
       /* Height procent + width auto = responsive image */
       width:115%;
       height: auto;  
   } 
   .nav-link {
    margin-right: 2.5rem;
  }
  .section-center h1 {
    font-size: 2.5rem;
   }
}
@media (min-width: 1300px) {
  top: -62%;
}
@media (min-width: 1400px) {
  .top-section .blue-rectangle, .top-section .overlay-rectangle {
     position: absolute;
     /* top: -40rem; */
     top: -52%;
     /* bottom: 4rem; */
     /* left: -9rem; */
     left: -8%;
     /* Height procent + width auto = responsive image */
     width:115%;
     height: auto;  
 } 
 .section-center h1 {
  font-size: 3.56rem;
 }
 .showcase-info {
  padding-left:0;
}
}

@media (min-width: 1600px) {
  .top-section .blue-rectangle, .top-section .overlay-rectangle {
     position: absolute;
     /* top: -40rem; */
     top: -72%;
     /* bottom: 4rem; */
     /* left: -9rem; */
     left: -8%;
     /* Height procent + width auto = responsive image */
     width:115%;
     height: auto;  
 } 
}

@media (min-width: 1920px) {
  .top-section {
    max-width: 1920px;
    overflow:visible;
  }
}
  






/*
=============== 
Footer
===============
*/

/* footer {
  background: var(--clr-blue);
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.footer-overlay{
    width: 100%;
    opacity: 5%;
    background-image: url("../images/footer-overlay.png");
    background-size: cover;
}
.footer-logo {
    height: 4rem;
    z-index: 3;
} */

/*
=============== 
MEDIAQUERIES
===============
*/
@media (min-width: 576px) {

}



@media (min-width:768px) {

}


@media (min-width: 992px) {


}

@media (min-width: 1170px) {


}

